[Unit]
Description=Firewall Identity Agent
Requires=dbus.service
After=dbus.service
ConditionUser=!@system

[Service]
Type=dbus
BusName=com.telekom_mms.fw_id_agent.Agent
Restart=on-failure
ExecStart=/usr/bin/fw-id-agent -config /etc/fw-id-agent.json
KillSignal=SIGINT

[Install]
WantedBy=default.target
